@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
@import "normalize.css";

@media screen and (max-width: 600px) {
 
  .grid-container {
    display: grid;
    grid-template-columns: auto;
    background-color: #1F51FF;;
    padding: 10px;
  }
}

@media screen and (min-width: 600px){
  .grid-container {
   display: grid;
   grid-template-columns: auto;
   background-color:  #1F51FF;;
   padding: 10px;
  }
}
/*making the image behave*/
img{
  width:100%;
  display:block;
}

  .grid-item {
    background-color: rgba(163, 10, 174, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 25px;
    text-align: right;
    justify-content: center;
  }

h2 {
  text-align: center;

}

body{
  font-family: 'Orbitron', sans-serif;
}
.text{
  column-count: 3;
  column-rule-color: #1F51FF;
}
/*adjusting image*/
.image{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
}
.megatron{
  border: 5px solid purple;
}
.optimus{
  border:5px solid red;
}